WebApplicationMuseum/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="WcfServiceMuseumNew" elementFormDefault="qualified" targetNamespace="WcfServiceMuseumNew" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WcfServiceMuseumNew/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceMuseumNew" />
  <xs:element name="getMuseum">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMuseumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceMuseumNew" minOccurs="0" name="getMuseumResult" nillable="true" type="q1:ArrayOfMuseum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateMuseum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="museumId" type="xs:int" />
        <xs:element minOccurs="0" name="museumName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="museumAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="established" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateMuseumResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLocations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceMuseumNew" minOccurs="0" name="getLocationsResult" nillable="true" type="q2:ArrayOfLocations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateLocations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationId" type="xs:int" />
        <xs:element minOccurs="0" name="locationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surface" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="leasePrice" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="museumIdFK" type="xs:int" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateLocationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteLocationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="findLocations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceMuseumNew" minOccurs="0" name="findLocationsResult" nillable="true" type="q3:ArrayOfLocations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLocationsByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLocationsByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceMuseumNew" minOccurs="0" name="getLocationsByIDResult" nillable="true" type="q4:Locations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addLocations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="surface" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="leasePrice" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="museumIdFK" type="xs:int" />
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addLocationsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getExhibits">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getExhibitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServiceMuseumNew" minOccurs="0" name="getExhibitsResult" nillable="true" type="q5:ArrayOfExhibits" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findExhibits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="historicPeriod" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findExhibitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfServiceMuseumNew" minOccurs="0" name="findExhibitsResult" nillable="true" type="q6:ArrayOfExhibits" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteExhibits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exhibitId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteExhibitsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addExhibits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dimensions" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="historicPeriod" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locationIdFK" type="xs:int" />
        <xs:element minOccurs="0" name="orderFormIdFK" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addExhibitsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateExhibits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="exhibitId" type="xs:int" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dimensions" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="historicPeriod" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="locationIdFK" type="xs:int" />
        <xs:element minOccurs="0" name="orderFormIdFK" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateExhibitsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrderForms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getOrderFormsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfServiceMuseumNew" minOccurs="0" name="getOrderFormsResult" nillable="true" type="q7:ArrayOfOrderForms" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteOrderForms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderFormId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteOrderFormsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addOrderForms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="buyerAdress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buyerIdFk" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addOrderFormsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateOrderForms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderFormId" type="xs:int" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="buyerAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buyerIdFk" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateOrderFormsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="findOrderForms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buyerIdFk" type="xs:int" />
        <xs:element minOccurs="0" name="buyerAdress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findOrderFormsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfServiceMuseumNew" minOccurs="0" name="findOrderFormsResult" nillable="true" type="q8:ArrayOfOrderForms" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBuyers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getBuyersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfServiceMuseumNew" minOccurs="0" name="getBuyersResult" nillable="true" type="q9:ArrayOfBuyers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteBuyers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buyerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteBuyersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addBuyers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buyersName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buyersSurname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buyersAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buyersCountry" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addBuyersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBuyers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buyersId" type="xs:int" />
        <xs:element minOccurs="0" name="buyersName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buyersSurname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buyersAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buyersCountry" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateBuyersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="findBuyers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buyersName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buyersSurname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findBuyersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfServiceMuseumNew" minOccurs="0" name="findBuyersResult" nillable="true" type="q10:ArrayOfBuyers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfServiceMuseumNew" minOccurs="0" name="getUsersResult" nillable="true" type="q11:ArrayOfUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteUsersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="findUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfServiceMuseumNew" minOccurs="0" name="findUsersResult" nillable="true" type="q12:ArrayOfUsers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isAdministrator" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addUsersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isAdministrator" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUsersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfServiceMuseumNew" minOccurs="0" name="composite" nillable="true" type="q13:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfServiceMuseumNew" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q14:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>